<div class="container">
  <div class="header">
    <h2>The Roadmap</h2>
    <p>Discover our future updates & releases</p>
  </div>

  <div class="feature-cards">
    <div class="feature-card">
      <svg width="448" height="587" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0)">
          <rect y="-58" width="448" height="311" fill="#B11995"></rect>
        </g>
        <defs>
          <filter id="filter0" x="-400" y="-458" width="1248" height="1111" filterUnits="userSpaceOnUse">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur"></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <div class="feature-text">
        <p class="date">December 2024</p>
        <h3>A Brand-New, Intuitive Interface</h3>
        <p class="description">
          We've created a user experience to suit artists and studios alike.
          Discover our brand-new, intuitive interface that highlights your
          creations, whilst giving you complete control with seamless efficiency and powerful customization options.
        </p>
      </div>
    </div>

    <div class="feature-card">
      <svg width="448" height="587" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter1)">
          <rect x="133.712" y="165.748" width="212.405" height="177.188" transform="rotate(5.54146 133.712 165.748)" fill="#B11995"></rect>
        </g>
        <defs>
          <filter id="filter1" x="-183.399" y="-134.252" width="828.523" height="796.871" filterUnits="userSpaceOnUse">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="150" result="effect1_foregroundBlur"></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <div class="feature-text">
        <p class="date">January 2025</p>
        <h3>Public API</h3>
        <p class="description">
          Take full control of your rendering processes with our new API
          integration. Seamlessly connect third-party applications and automate
          workflows to elevate your efficiency and creativity.
        </p>
      </div>
    </div>

    <div class="feature-card">
      <svg width="448" height="587" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter2)">
          <rect y="-58" width="448" height="311" fill="#B11995"></rect>
        </g>
        <defs>
          <filter id="filter2" x="-400" y="-458" width="1248" height="1111" filterUnits="userSpaceOnUse">
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"></feBlend>
            <feGaussianBlur stdDeviation="200" result="effect1_foregroundBlur"></feGaussianBlur>
          </filter>
        </defs>
      </svg>
      <div class="feature-text">
        <p class="date">March 2025</p>
        <h3>Unreal Engine Integration</h3>
        <p class="description">
          Integrate the power of Unreal Engine within OctaRender, unlocking
          advanced rendering capabilities for your projects.
        </p>
      </div>
    </div>
  </div>
</div>
