    <section class="pt-60 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title mb-30 fw-bold" id="team">team</h1>
          </div>
        </div>
        <div class="row">

          <div class="col-lg-3 d-flex justify-content-center member ">
            <div class="text-center w-100">
              <div class="member__img mb-3">
                <img src="assets/img/team/artem.png" alt="">
              </div>
              <h3 class="member__name">Artem Teslenko</h3>
              <p class="member__job">Lead developer</p>
              <div class="member__links">
                <a href="https://www.linkedin.com/in/artem-teslenko-490ba530"><img src="assets/img/icons/linkedin.svg" alt=""></a>
                <a href="https://github.com/ates"><img src="assets/img/icons/github.svg" alt=""></a>

                <!-- <a href="#"><img src="assets/img/icons/facebook.svg" alt=""></a>
                <a href="#"><img src="assets/img/icons/twitter.svg" alt=""></a>
                -->
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-flex justify-content-center member ">
            <div class="text-center w-100">
              <div class="member__img mb-3">
                <img src="assets/img/team/tarik.png" alt="">
              </div>
              <h3 class="member__name">Tarik Delic</h3>
              <p class="member__job">Project manager</p>
              <div class="member__links">
                <a href="https://www.linkedin.com/in/delict"><img src="assets/img/icons/linkedin.svg" alt=""></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-flex justify-content-center member ">
            <div class="text-center w-100">
              <div class="member__img mb-3">
                <img src="assets/img/team/member-anon-1.png" alt="">
              </div>
              <h3 class="member__name">Boris</h3>
              <p class="member__job">Developer</p>
              <div class="member__links">
                <a href="https://github.com/bor1s-oc"><img src="assets/img/icons/github.svg" alt=""></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-flex justify-content-center member ">
            <div class="text-center w-100">
              <div class="member__img mb-3">
                <img src="assets/img/team/member-anon-2.png" alt="">
              </div>
              <h3 class="member__name">James Davies</h3>
              <p class="member__job">Developer</p>
              <div class="member__links">
                <a href="https://github.com/TheJame5"><img src="assets/img/icons/github.svg" alt=""></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 d-flex justify-content-center member ">
            <div class="text-center w-100">
              <div class="member__img mb-3">
                <img src="assets/img/team/member-anon-3.png" alt="">
              </div>
              <h3 class="member__name">&nbsp;</h3>
              <p class="member__job">Developer</p>
              <div class="member__links">
                <a href=""><img src="assets/img/icons/github.svg" alt=""></a>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>
