.globe-container {
    width: 200px; /* Set the desired width */
    height: 200px; /* Set the desired height */
    position: relative;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  