<div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="item text-center">
          <span class="info__bottom">
            <p class="counter counter1" data-target="1000">00</p>
          </span>
          <div class="name color-gray">Renders</div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="item text-center">
          <span class="info__bottom">
            <p class="counter counter2" data-target="250000">00</p>
          </span>
          <div class="name color-gray">Frames</div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="item text-center">
          <span class="info__bottom">
            <p class="counter counter3" data-target="17000">00</p>
          </span>
          <div class="name color-gray">Tasks per second</div>
        </div>
      </div>
    </div>
  </div>
  