<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="item text-center">
        <span class="info__bottom">
          <p class="counter">
            {{ ((network?.render?.frames_total || 0) + 866534) | number }}
          </p>
        </span>
        <div class="name">Frames</div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="item text-center">
        <span class="info__bottom">
          <p class="counter">
            {{ ((network?.render?.duration_seconds || 0) / 2592000) | number:'1.0-2' }}
          </p>
        </span>
        <div class="name">Months worth of rendering</div>
      </div>
    </div>
  </div>
</div>
