<section class="pt-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section__title fw-bold mb-36" id="roadmap">roadmap</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 offset-xl-1">
        <div class="roadmap-container">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold check--done ">Initial project launch</h4>
                  <ul>
                    <li>Launch PoW network and PoA sidechain</li>
                    <li>Launch GPU/VPN marketplace</li>
                    <li>Add support of AMD GPU</li>
                    <li>Add support of ARM architecture</li>
                    <li>List on well known services and some CEXs</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Integration</h4>
                  <ul>
                    <li>Expose public API to interact with platform</li>
                    <li>Browser extension for VPN service</li>
                    <li>OCTA<->BSC bridge</li>
                    <li>Release <b>octactl</b> command line tool</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Services and Utility</h4>
                  <ul>
                    <li>HashCache - password recovery service</li>
                    <li>Instant file sharing service</li>
                    <li>Applications/Databases deployment service</li>
                    <li>CDN service</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

