<section class="pt-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section__title fw-bold mb-36" id="roadmap">roadmap</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 offset-xl-1">
        <div class="roadmap-container">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold check--done ">Initial project launch</h4>
                  <ul>
                    <li class="check--done">Launch PoW network and PoA sidechain</li>
                    <li class="check--done">Launch GPU/VPN marketplace</li>
                    <li class="check--done">Add support for AMD GPUs</li>
                    <li class="check--done">Add support for ARM architecture</li>
                    <li class="check--done">New CEX listings and well known services</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Integration</h4>
                  <ul>
                    <li class="check--done">Expose public API</li>
                    <li class="check--done">Launch TESTNET</li>
                    <li>Browser extension for VPN service</li>
                    <li class="check--done">Android VPN application</li>
                    <li>OCTA<->BSC bridge</li>
                    <li class="check--done">JS SDK and command line tool</li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Services and Utility</h4>
                  <ul>
                    <li>HashCache - Password Recovery Service</li>
                    <li>Instant File Sharing Service</li>
                    <li>Applications Deployment Service</li>
                    <li class="check--done">Blender Distributed Rendering Support</li>
                    <li>Procedural Generation for Infinite Photorealistic Worlds</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

