<section class="pt-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="section__title fw-bold mb-36" id="roadmap">roadmap</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10 offset-xl-1">
        <div class="roadmap-container">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">User Experience</h4>
                  <ul>
                    <li>
                      <b>Updated Website</b>
                      <br/>
Revamping our website with a strong focus on user-friendly design and service-oriented content. We'll introduce subsites dedicated to specific services such as VPN, Rendering, and AI Training, optimizing SEO and providing a product/service-oriented marketing approach.
                    </li>
                    <li>
                      <b>New marketplace</b>
                      <br/>
A comprehensive overhaul of our marketplace with a refined interface and user experience, including a revised authentication process. The new marketplace aims to cater to both basic and advanced users, offering a simplified journey for newcomers and introducing advanced features for experienced users.
                    </li>
                    <li>
                      <b>On-ramp</b>
                      <br/>
Partnering with an on-ramp provider to integrate into our marketplace, making our services more accessible to mainstream users. This collaboration will allow users to quickly top up their accounts with OCTA for seamless spending on services, boosting service adoption and stimulating OctaSpace's economic growth.
                    </li>
                    <li>
                      <b>Nodes</b>
                      <br/>
In addition to community nodes, OctaSpace will introduce its own nodes. These nodes, situated in Tier 3-4 datacenters, ensure 99% reliability, stable connectivity, and secure data storage, enhancing the overall robustness of our network.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Rendering</h4>
                  <ul>
                    <li>
                      <b>New rendering solution</b>
                      <br/>
Introducing a revolutionary rendering solution that scales and distributes based on demand, utilizing all available nodes in the marketplace. With the ability to leverage CPU or GPU from both Nvidia and AMD brands, this solution sets new industry standards, providing advanced features unmatched by existing solutions.
                    </li>
                    <li>
                      <b>Expanded support</b>
                      <br/>
In response to market demands, we plan to expand our rendering support to include other engines like Unreal Engine, ensuring compatibility with various industry-standard tools.
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">VPN</h4>
                  <ul>
                    <li>
                      <b>iOS</b>
                      <br/>
Launching a native iOS VPN application to complement our existing suite of apps. This expansion enhances accessibility and user satisfaction, providing a seamless and secure VPN experience across various platforms.
                    </li>
                    <li>
                      <b>Enhancements</b>
                      <br/>
Continuing our commitment to improve the VPN service, we aim to overcome challenges related to restricted online access in certain regions, while introducing additional feature enhancements to strengthen the overall effectiveness of our VPN solutions.
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Other Tooling</h4>
                  <ul>
                    <li>
                      <b>AI / ML</b>
                      <br/>
Enriching our platform with new AI tools, including models trained on our platform for artistic and chat purposes. We'll expand our tooling for more distributed AI model training to meet the growing demands of the AI sector.
                    </li>
                    <li>
                      <b>Storage</b>
                      <br/>
Implementing a robust storage solution to meet the ever-growing storage demands, providing uninterrupted storage leveraging our infrastructure.
                    </li>
                    <li>
                      <b>Application Deployment</b>
                      <br/>
In line with our commitment to empowering developers, we will introduce a streamlined application deployment feature. This will enable developers to deploy their applications seamlessly. This addition aims to simplify the deployment process, making it more accessible to developers of varying expertise.
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-lg-6 roadmap__item">
                <div class="roadmap__card card">
                  <h4 class="roadmap__title fw-bold">Marketing / Growth</h4>
                  <ul>
                    <li>
                      <b>Marketing</b>
                      <br/>
Ramping up marketing efforts with a focus on end-users, incorporating aggressive direct outreach and paid advertising on social platforms. Expanding marketing efforts to cover mainstream and crypto spaces, nurturing existing partnerships, and exploring new ones for mutual technological and platform benefits.
                    </li>
                    <li>
                      <b>Blockchain Ecosystem</b>
                      <br/>
Encouraging the growth of our ecosystem by attracting new projects to be built on our blockchain, increasing the utility of the native $OCTA coin.
                    </li>
                    <li>
                      <b>Investors</b>
                      <br/>
Initiating efforts to make the native currency $OCTA more globally available, including deploying a bridge to other networks (BSC) and considering further listings based on budgetary considerations and market conditions.
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

