    <section class="hero">
        <header class="mt-30 mb-30">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img src="assets/img/logo.png" alt="octa logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                  </button>
                  <div class="collapse navbar-collapse navbar__menu" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://cube.octa.space/">Console</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://docs.octa.space/">Documentation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://scan.octa.space/">Explorer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://docs.octa.space/roadmap">Roadmap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://whitepaper.octa.space">WhitePaper</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="#team">Leadership</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="#links">Links</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://medium.com/@octa.space.project">Blog</a>
                      </li>
                      <li class="nav-item d-lg-none mt-30">
                        <a href="https://cube.octa.space/" class="navbar__btn btn-primary">Get started</a>
                      </li>
                    </ul>
                  </div>
                  <div class="navbar__btn d-none d-lg-block">
                    <a href="https://cube.octa.space/" class="btn-primary">Get started</a>
                  </div>
                </div>
              </nav>
        </header>
        <div class="container">
          <div class="row justify-content-center">
              <div class="col-lg-8 hero__img justify-content-center hero__height">
                  <svg-icon src="assets/img/cube.svg" [applyClass]="true"></svg-icon>
              </div>
              <div class="col-lg-12 hero__height justify-content-center d-flex align-items-center">
                <div class="text-center hero__content" [ngClass]="{'fade-in': fadeInTextContent}">
                  <h1 class="hero__title color-white--primary fw-bold mb-3">Octa<span class="color-accent--third">.</span>Space</h1>
                  <h3 class="hero__subtitle color-white--primary fw-light mb-5">Shaping the Future of Distributed Computing</h3>
                </div>
              </div>
          </div>
      </div>
      
      
    </section>
    <section class="pb-45 overflow-x-clip">
      
      <div class="container">
        
        <section class="pb-60">
          <h1 class="section__title pb-60 fw-bold">services</h1>
          <div class="container">
              <div class="row">
                <div class="col-lg-3 mb-4">
                  <h2 class="section__title mb-30 fw-bold">Rendering</h2>
                  <p class="section__text mb-45 color-gray">
                    Octa<b>Render</b> is a cutting-edge distributed rendering platform, leveraging our global network of nodes and packed with a plethora of features, supporting multiple rendering engines. It delivers lightning-fast renders with simplicity in mind.
                  </p>
                  <p class="section__text mb-45 color-gray">Octa<b>Render</b> supports both GPU and CPU rendering</p>
                  <div class="button-group">
                    <a href="http://34.147.146.4/" class="btn-primary mb-3 mb-sm-0 me-0 me-sm-3">Render Portal</a>
                  </div>
                  <div class="links mt-4 mb-4">
                  <div class="links__item">
                    <a href="https://docs.octa.space/render-farm-beta-test"><span>Documentation</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
                  </div>
                </div>
                </div>
                <div class="col-lg-9 mb-4">
                  <div class="main-container">
                    <div class="glass mt-8" [ngClass]="{'fade-in': fadeInGlassContent}">
                      <img src="assets/img/render2.png" alt="" class="render">
                    </div>
                  
                </div>
                
                </div>

                <div class="row">
                  <div class="col-lg-2">
                    <p class="section__text mb-4 mt-4 color-gray text-center"><b>Native add-on</b></p>
                    <div class="main-container">
                      <div class="glass-transparent mt-8" [ngClass]="{'fade-in-glass-transparent': fadeInGlassTransparentContent}">
                        <!-- Placeholder for the first column -->
                        <div class="render-mask">
                          <img src="assets/img/addon.png" alt="" class="image-transparent">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <p class="section__text mb-4 mt-4 color-gray text-center"><b>Render on your own terms, based on budget and needs</b></p>
                    <div class="main-container">
                      <div class="glass-transparent mt-8" [ngClass]="{'fade-in-glass-transparent': fadeInGlassTransparentContent}">
                        <!-- Placeholder for the second column -->
                        <div class="render-mask">
                          <img src="assets/img/scaling.png" alt="" class="image-transparent">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5">
                    <p class="section__text mb-4 mt-4 color-gray text-center"><b>Dynamically scale real-time across hundreds of GPUs</b></p>
                    <div class="main-container">
                      <div class="glass-transparent mt-8" [ngClass]="{'fade-in-glass-transparent': fadeInGlassTransparentContent}">
                        <!-- Placeholder for the third column -->
                        <div class="render-mask">
                          <img src="assets/img/compute.png" alt="" class="image-transparent">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
                
                  <div class="row mt-5">
                    <div class="col-lg-12 text-center">
                      <h3 class="section__title">Empowering Your Creative Vision with Next-gen Rendering</h3>
                    </div>
                  </div>
                  <div class="row">
                  <app-numcount></app-numcount>
                </div>
                <div class="row mt-4">
                  <div class="col-lg-12 text-center">
                     <h3 class="section__title mb-3">Projects Rendered For</h3>
                    &nbsp;
                  </div>
                </div>
                
                <div class="row justify-content-center">
                  <div class="col-lg-8 text-center">
                    <div class="clients d-flex justify-content-center flex-wrap">
                      <div class="logo-container">
                        <a href="#" class="logo-link"><img src="assets/img/logos/Coca-Cola_logo.png" alt="Coca Cola"></a>
                      </div>
                      <div class="logo-container">
                        <a href="https://www.bungie.net/" class="logo-link"><img src="assets/img/logos/bungie_logo.png" alt="Bungie"></a>
                      </div>
                      <div class="logo-container">
                        <a href="https://www.rokoko.com/" class="logo-link"><img src="assets/img/logos/rokoko.png" alt="Rokoko"></a>
                      </div>
                      <div class="logo-container">
                        <a href="https://www.bungie.net/7/en/Destiny" class="logo-link"><img src="assets/img/logos/destiny-logo.png" alt="Rokoko"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </div>
      </section>
      <section class="pb-60 mt-160">
        <div class="container">
        <div class="row align-items-end mb-45 comet-holder">
          <div class="col-lg-6">
            <h2 class="section__title fw-bold mb-36">VPN</h2>
            <ul class="section__text color-gray">
              <li>Setting up the VPN is made easy with non-modified and open-source software available for multiple platforms</li>
              <li>Enjoy the freedom to choose the VPN technology that best suits your needs, whether it's Wireguard, Shadowsocks, or OpenVPN</li>
              <li>Multi-platform bespoke VPN apps, ranging from browser extensions to mobile applications.</li>
              <li>Connect multiple devices simultaneously with no limitations</li>
              <li>Embrace a flexible payment model as you go, based on the amount of data used, billed per GB</li>
            </ul>
          </div>
          <img src="assets/img/comet.png" alt="" class="comet">
          <div class="col-xl-2 col-lg-3 d-lg-block d-flex justify-content-center">
            <div class="phone-slideshow">
              <div class="screen-mask">
                <ul class="phone-slideshow-list">
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card card--small">
            <div class="card__icon">
              <img src="assets/img/icons/vpn.png" alt="">
            </div>
            <div class="card__top-text">
              {{ network.nodes.vpn }}
            </div>
            <div class="card__bottom-text">
              VPN AP
            </div>
          </div>
        </div>
      </div>
    </section>
        <div class="row">
            
            <div class="row">
              <div class="col-md-6 mb-4 mb-md-0 order-md-1 order-2">
                <!-- Content for the left column (globe) -->
                
                <app-globe></app-globe>
                
              </div>
              <div class="col-md-6 order-md-2 order-1">
                
                <!-- Content for the right column (download buttons) -->
                <div class="row">
                  
                <div class="mb-4">
                  <h3 class="section__title mb-2">Mobile</h3>
                  <a href="https://play.google.com/store/apps/details?id=com.octaspace.octavpn" class="download android" target="_blank">
                    <i class="fa fa-brands fa-google-play fa-2x"></i>
                    <span class="df">Download from</span>
                    <span class="dfn">Google Play</span>
                  </a>
          
                  <a href="https://www.apple.com/app-store/" class="download apple" target="_blank">
                    <i class="fa fa-brands fa-apple fa-2x"></i>
                    <span class="df">Download from</span>
                    <span class="dfn">App Store</span>
                  </a>
                </div>

              </div>
                <div class="row">
                <div class="mb-4">
                  <h3 class="section__title mb-2">Browser Extensions</h3>
                  <a href="https://microsoftedge.microsoft.com/addons/detail/octa-vpn/dbogjddpccpiaffjjdlgkohnfgbekjde" class="download windows" target="_blank">
                    <i class="fa fa-brands fa-windows fa-2x"></i>
                    <span class="df">Download from</span>
                    <span class="dfn">Microsoft Store</span>
                  </a>
          
                  <a href="https://addons.mozilla.org/en-US/firefox/addon/octa-vpn/" class="download firefox" target="_blank">
                    <i class="fa fa-brands fa-firefox fa-2x"></i>
                    <span class="df">Download from</span>
                    <span class="dfn">Firefox Store</span>
                  </a>
          
                  <a href="https://chromewebstore.google.com/detail/octa-vpn/mihegdmkfdnnnhnjffkbaodhfpcejjbl" class="download google" target="_blank">
                    <i class="fa fa-brands fa-chrome fa-2x"></i>
                    <span class="df">Download from</span>
                    <span class="dfn">Chrome Store</span>
                  </a>
                </div>
              </div>
                <div>
                  <h3 class="section__title mb-2">Desktop</h3>
                  <div class="col-12 d-flex justify-content-start align-items-center flex-wrap logos-group2">
                    <a href="https://docs.octa.space/vpn" class="me-5">
                      <img src="assets/img/wireguard.png" alt="WireGuard">
                    </a>
                    <a href="https://docs.octa.space/vpn" class="me-5">
                      <img src="assets/img/openvpn_logo.png" alt="OpenVPN">
                    </a>
                    <a href="https://docs.octa.space/vpn" class="me-5">
                      <img src="assets/img/logos/shadowsocks.png" alt="Shadowsocks">
                    </a>
                  </div>
                </div>
              </div>
            </div>         
            
          <div class="col-12">
            <h2 class="section__title mb-36">available locations</h2>
            <div class="country-slider">
              
              <div><img src="assets/img/flags/argentina.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Argentina</span></div>
              <div><img src="assets/img/flags/canada.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Canada</span></div>
              <div><img src="assets/img/flags/china.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">China</span></div>
              <div><img src="assets/img/flags/germany.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Germany</span></div>
              <div><img src="assets/img/flags/japan.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Japan</span></div>
              <div><img src="assets/img/flags/malaysia.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Malaysia</span></div>
              <div><img src="assets/img/flags/netherlands.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Netherlands</span></div>
              <div><img src="assets/img/flags/ukraine.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Ukraine</span></div>
              <div><img src="assets/img/flags/usa.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">USA</span></div>
              <div><img src="assets/img/flags/vietnam.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Vietnam</span></div>
              <div><img src="assets/img/flags/australia.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Australia</span></div>
            </div>
            
          </div>
        </div>
        
      </div>
    </section>
    <section class="pb-60 mt-160">
    <div class="container">
      <!-- First Row: AI Heading and Image -->
      <div class="row mb-4">
        <div class="col-lg-12">
          <h2 class="section__title mb-4 fw-bold" [ngClass]="{'fade-in': fadeInTextContent}">AI</h2>
        </div>
        
        <div class="col-lg-6 offset-lg-3 text-center background-with-svg">
          <app-svg-animations></app-svg-animations>
        </div>
      </div>
    
      <!-- Second Row: AI Paragraph -->
      <div class="row mb-4">
        <div class="col-lg-8 offset-lg-2">
          <h3 class="section__title text-center mb-3">develop & train models and launch AI applications</h3>
        </div>
      </div>
    
      <!-- Third Row: Three Columns with Images -->
      <div class="row">
        <div class="col-lg-4">

          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              
            </div>
          </div>
        </div>
        <div class="col-lg-4">

        </div>
      </div>
    </div>

    
    <section class="pb-60 mt-160">
      <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section__title text-center mb-3">What Our Users Say</h2>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <app-testimonial-slider></app-testimonial-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </section>      

  </section>
  
    <section class="pt-60 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title mb-30 fw-bold">available resources</h1>
            <p class="section__text mb-45 color-gray">
OctaSpace provides an extensive array of services, giving users the flexibility to rent resources from a diverse network of nodes located worldwide.
These services encompass a wide spectrum of capabilities, including but not limited to disk space for ML tasks, AI Tools, image processing, and rendering scenes using Blender, among others.
            </p>
          </div>
        </div>
        <div class="row">
          
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0 d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/cpu.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.cpus }}
              </div>
              <div class="card__bottom-text">
                CPU
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0  d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/gpu.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.gpus }}
              </div>
              <div class="card__bottom-text">
                GPU
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0  d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/ram.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.mem / 1073741824 | number: '.0-0' }} <span>Gb</span>
              </div>
              <div class="card__bottom-text">
                RAM
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/disk.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.disk / 1073741824 / 1024 | number: '.0-1' }} <span>Tb</span>
              </div>
              <div class="card__bottom-text">
                DISK
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-45">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">available images</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/ubuntu.svg" alt="">
              <p class="mt-4">Ubuntu</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/jupyter.svg" alt="">
              <p class="mt-4">Jupyter Notebook</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/blender.svg" alt="">
              <p class="mt-4">Blender</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/hashcat.svg" alt="">
              <p class="mt-4">Hashcat</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/tensorflow.svg" alt="">
              <p class="mt-4">TensorFlow</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/pytorch.svg" alt="">
              <p class="mt-4">PyTorch</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title mb-30 fw-bold">network</h1>
            <p class="section__text color-gray mb-45 color-gray">
OctaSpace operates on its own Layer 1 native EVM-compatible blockchain.
This blockchain employs a dual-chain system, combining Proof-of-Work (PoW) and Proof-of-Authority (PoA) consensus mechanisms.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-1 col-lg-2">
            <div class="info">
              <span class="info__top">
                Nodes
              </span>
              <span class="info__bottom">
                {{ network.nodes.count }}
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Hashrate
              </span>
              <span class="info__bottom">
                {{ network.blockchain.hashrate / 1024 / 1024 / 1024 | number: '.0-2'}} <span>Gh/s</span>
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Height
              </span>
              <span class="info__bottom">
                {{ network.blockchain.height }}
              </span>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3">
            <div class="info">
              <span class="info__top">
                Era
              </span>
              <span class="info__bottom">
                {{ network.blockchain.era }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-xxl-3 col-lg-5">
            <div class="info">
              <span class="info__top">
                Staked 
              </span>
              <span class="info__bottom">
                {{ network.staked }} <span>OCTA</span>
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Block time
              </span>
              <span class="info__bottom">
                {{ network.blockchain.blocktime }} <span>sec</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <!-- <app-roadmap></app-roadmap> -->
    <app-team></app-team>
    
    
    <section class="pt-60 pb-45">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title fw-bold mb-36" id="links">links</h1>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-12">
            <div class="links">
              <div class="links__item">
                <a href="https://github.com/octaspace"><span>Github</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://discord.gg/octaspace"><span>Discord</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://t.me/octa_space"><span>Telegram</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://twitter.com/octa_space"><span>Twitter</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://www.reddit.com/r/octaspace/"><span>Reddit</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://bitcointalk.org/index.php?topic=5224155.0"><span>Bitcointalk</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://www.youtube.com/@octa_space"><span>Youtube</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">exchanges</h2>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-12 d-flex justify-content-start align-items-center flex-wrap logos-group">
            <a href="https://www.mexc.com/exchange/OCTA_USDT" class="me-5">
              <img src="assets/img/logos/mexc.svg" alt="mexc">
            </a>
            <a href="https://go.coinmetro.com/exchange/octa-usdt" class="me-5">
              <img src="assets/img/logos/cm.png" alt="coinmetro">
            </a>
            <a href="https://www.coinex.com/exchange/OCTA-USDT" class="me-5">
              <img src="assets/img/logos/coinex.png" alt="coinex">
            </a>
            <a href="https://safe.trade/trading/octausdt" class="me-5">
              <img src="assets/img/logos/safe-trade.png" alt="safe trade">
            </a>
            <a href="https://xeggex.com/market/OCTA_USDT" class="">
              <img src="assets/img/logos/xeggex.png" alt="xeggex">
            </a>
          </div>
        </div>

      </div>
    </section>
    

    <app-partners></app-partners>

    <footer class="pt-4 pb-4 text-center">
      <span>&copy; 2022-{{ currentYear }} All rights reserved by OctaSpace</span>
    </footer>
