    <section class="hero">
        <header class="mt-30 mb-30">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container">
                  <a class="navbar-brand" href="#">
                    <img src="assets/img/logo.png" alt="octa logo">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                  </button>
                  <div class="collapse navbar-collapse navbar__menu" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://cube.octa.space/">Console</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://docs.octa.space/">Documentation</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://explorer.octa.space/">Explorer</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="#links">Links</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="#roadmap">Roadmap</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link color-white--secondary" href="https://medium.com/@octa.space.project">Blog</a>
                      </li>
                      <li class="nav-item d-lg-none mt-30">
                        <a href="https://cube.octa.space/" class="navbar__btn btn-primary">Get started</a>
                      </li>
                    </ul>
                  </div>
                  <div class="navbar__btn d-none d-lg-block">
                    <a href="https://cube.octa.space/" class="btn-primary">Get started</a>
                  </div>
                </div>
              </nav>
        </header>

        <div class="container">
            <div class="row">
                <div class="col-lg-5 hero__height d-flex align-items-center">
                    <div class="">
                        <h1 class="hero__title color-white--primary fw-bold mb-3">Octa<span class="color-accent--third">.</span>Space</h1>
                        <h3 class="hero__subtitle color-white--primary fw-light mb-5">distributed computing, VPN and data storage</h3>
                        <p class="hero__text color-gray mb-5">
OctaSpace is a cloud platform that allows you to access distributed computing, data storage and serving, VPN, and more.
It's designed to be easy to use, even for those who are new to the concept of distributed computing.
With OctaSpace, you can tap into the power of CPU and GPU resources from nodes all over the world to tackle heavy tasks.
And if you have spare hardware, you can even become a host and earn by renting out your CPU/GPU or traffic.
Unleash the power of distributed computing, secure your data with our VPN, and store your files with ease.
                        </p>
                        <a href="https://docs.octa.space/" class="btn-primary">Documentation</a>
                    </div>
                </div>
                <div class="col-lg-7 hero__img hero__height">
                    <svg-icon src="assets/img/cube.svg" [applyClass]="true"></svg-icon>
                </div>
            </div>
        </div>
    </section>

    <app-roadmap></app-roadmap>

    <section class="pt-60 pb-60">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title mb-30 fw-bold">available resources</h1>
            <p class="section__text mb-45 color-gray">Using this service, you can rent computing power (CPU / GPU), disk space to perform tasks from the field of ML, image processing, rendering scenes using Blender, etc.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0 d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/cpu.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.cpus }}
              </div>
              <div class="card__bottom-text">
                CPU
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0  d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/gpu.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.gpus }}
              </div>
              <div class="card__bottom-text">
                GPU
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-3 mb-xl-0  d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/ram.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.mem / 1073741824 | number: '.0-0' }} <span>Gb</span>
              </div>
              <div class="card__bottom-text">
                RAM
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 d-flex justify-content-center">
            <div class="card">
              <div class="card__icon">
                <img src="assets/img/icons/disk.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.power.disk / 1073741824 / 1024 | number: '.0-1' }} <span>Tb</span>
              </div>
              <div class="card__bottom-text">
                DISK
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-45">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">available images</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/ubuntu.svg" alt="">
              <p class="mt-4">Ubuntu</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/jupyter.svg" alt="">
              <p class="mt-4">Jupyter Notebook</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/blender.svg" alt="">
              <p class="mt-4">Blender</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/hashcat.svg" alt="">
              <p class="mt-4">Hashcat</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/tensorflow.svg" alt="">
              <p class="mt-4">TensorFlow</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-4 col-6 d-flex justify-content-center">
            <div class="text-center">
              <img src="assets/img/logos/pytorch.svg" alt="">
              <p class="mt-4">PyTorch</p>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <section class="pt-45 pb-45 overflow-x-clip">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title mb-30 fw-bold">network</h1>
            <p class="section__text color-gray mb-45 color-gray">
              Layer 1 blockchain network (PoW) backed by Layer 2 PoA network to reduce operational costs, decrease commissions and increase the speed of transactions.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xxl-1 col-lg-2">
            <div class="info">
              <span class="info__top">
                Nodes
              </span>
              <span class="info__bottom">
                {{ network.nodes.count }}
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Hashrate
              </span>
              <span class="info__bottom">
                {{ network.blockchain.hashrate / 1024 / 1024 / 1024 | number: '.0-2'}} <span>Gh/s</span>
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Height
              </span>
              <span class="info__bottom">
                {{ network.blockchain.height }}
              </span>
            </div>
          </div>
          <div class="col-xxl-3 col-lg-3">
            <div class="info">
              <span class="info__top">
                Era
              </span>
              <span class="info__bottom">
                {{ network.blockchain.era }}
              </span>
            </div>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-xxl-3 col-lg-5">
            <div class="info">
              <span class="info__top">
                Staked 
              </span>
              <span class="info__bottom">
                {{ network.staked }} <span>OCTA</span>
              </span>
            </div>
          </div>
          <div class="col-xxl-2 col-lg-3">
            <div class="info">
              <span class="info__top">
                Block time
              </span>
              <span class="info__bottom">
                {{ network.blockchain.blocktime }} <span>sec</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row align-items-end mb-45 comet-holder">
          <div class="col-lg-6">
            <h1 class="section__title fw-bold mb-36">vpn</h1>
            <ul class="section__text color-gray">
              <li>It’s easy to setup using non modified and opensource software available for many platforms</li>
              <li>You able choose the VPN technology you want to use (Wireguard, Shadowsocks, OpenVPN)</li>
              <li>No limits for amount of devices connected simultaneously</li>
              <li>You paid as you go, just billed per GB</li>
            </ul>
          </div>

          <img src="assets/img/comet.png" alt="" class="comet">
          
          <div class="col-xl-2 col-lg-3 d-lg-block d-flex justify-content-center">
            <div class="card card--small">
              <div class="card__icon">
                <img src="assets/img/icons/vpn.png" alt="">
              </div>
              <div class="card__top-text">
                {{ network.nodes.vpn }}
              </div>
              <div class="card__bottom-text">
                VPN AP
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">available locations</h2>
          </div>
          <div class="col-12">
            <div class="country-slider">
              <div><img src="assets/img/flags/argentina.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Argentina</span></div>
              <div><img src="assets/img/flags/canada.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Canada</span></div>
              <div><img src="assets/img/flags/china.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">China</span></div>
              <div><img src="assets/img/flags/germany.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Germany</span></div>
              <div><img src="assets/img/flags/japan.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Japan</span></div>
              <div><img src="assets/img/flags/malaysia.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Malaysia</span></div>
              <div><img src="assets/img/flags/netherlands.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Netherlands</span></div>
              <div><img src="assets/img/flags/ukraine.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Ukraine</span></div>
              <div><img src="assets/img/flags/usa.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">USA</span></div>
              <div><img src="assets/img/flags/vietnam.png" alt=""><span class="fs-6 fw-semibold ms-3 d-inline-block align-bottom">Vietnam</span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pt-60 pb-45">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h1 class="section__title fw-bold mb-36" id="links">links</h1>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-12">
            <div class="links">
              <div class="links__item">
                <a href="https://github.com/octaspace"><span>Github</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://discord.gg/24W42beE3Q"><span>Discord</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://t.me/octa_space"><span>Telegram</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://twitter.com/octa_space"><span>Twitter</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://www.reddit.com/r/octaspace/"><span>Reddit</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
              <div class="links__item">
                <a href="https://bitcointalk.org/index.php?topic=5224155.0"><span>Bitcointalk</span> <svg class="links__arrow" width="33" height="12" viewBox="0 0 33 12" fill="none"><path d="M16.9984 6L6.99841 0.226497V11.7735L16.9984 6ZM0.998413 7H7.99841V5H0.998413V7Z" fill="#C31A98"/></svg></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">exchanges</h2>
          </div>
        </div>
        <div class="row mb-45">
          <div class="col-12 d-flex justify-content-start align-items-center flex-wrap logos-group">
            <a href="https://safe.trade/trading/octausdt" class="me-5">
              <img src="assets/img/logos/safe-trade.png" alt="safe trade">
            </a>
            <a href="https://www.bitoreum.exchange/market/octausdt" class="me-5">
              <img src="assets/img/logos/bitoreum.png" alt="bitoreum">
            </a>
            <a href="https://www.xredx.org/trading/octadoge" class="me-5">
              <img src="assets/img/logos/xredx.png" alt="xredx">
            </a>
            <a href="https://xeggex.com/market/OCTA_USDT" class="">
              <img src="assets/img/logos/xeggex.png" alt="xeggex">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h2 class="section__title mb-36">directories</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 d-flex justify-content-start flex-wrap align-items-center logos-group">
            <a href="https://www.livecoinwatch.com/price/OctaSpace-___OCTA" class="me-5">
              <img src="assets/img/logos/livecoinwatch.png" alt="livecoinwatch">
            </a>
            <a href="https://blockspot.io/coin/octaspace/" class="me-5">
              <img src="assets/img/logos/blockspot.png" alt="blockspot">
            </a>
            <a href="https://coinpaprika.com/coin/octa-octaspace/" class="me-5">
              <img src="assets/img/logos/cpap.png" alt="coinpaprika">
            </a>
            <a href="https://nomics.com/assets/octa6-octaspace" class="me-5">
              <img src="assets/img/logos/nomics.png" alt="nomics">
            </a>
            <a href="https://coincodex.com/crypto/octaspace/" class="">
              <img src="assets/img/logos/cc-logo.png" alt="coincodex">
            </a>
          </div>
        </div>

      </div>
    </section>

    <section class="pt-60 pb-45">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="section__title fw-bold mb-36" id="community and sponsorships">community and sponsorships</h1>
            <p class="section__text color-gray mb-45 color-gray">
              OctaSpace is a community-oriented project. Any member may participate in project growth in the following ways:
            </p>
            <ul class="section__text color-gray">
              <li>Spread the information about OctaSpace on social networks</li>
              <li>Share your ideas or improvements that may make OctaSpace better and more useful</li>
              <li>Participate in bug bounty programs and report bugs you already found</li>
              <li>Become a sponsor and help the project pay fees for 3rd party services like listing on exchanges</li>
            </ul>

            <p class="section__text color-gray mb-45 color-gray">
              To support the project by donation please use the following addresses:
            </p>
            <ul class="section__text color-gray">
              <li>BTC: bc1qkdr6jen925el0y3z0aef7jzd5cshdegd3q0cqy</li>
              <li>ETH: 0x325E5411a63fE64603EC881ce0F6AB78235E8C61</li>
              <li>BNB: bnb1ttu3zxcc8aygs4h7gkm896ahqx256c3j4068l3</li>
              <li>LTC: LiDoeynY3WAUJma4qy4fhEsGAkYXQAtv8C</li>
              <li>OCTA: 0x325E5411a63fE64603EC881ce0F6AB78235E8C61</li>
            </ul>

          </div>
        </div>
      </div>
    </section>

    <footer class="pt-4 pb-4 text-center">
      <span>© 2022-2023 All rights reserved by OctaSpace</span>
    </footer>
