/* vars */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
/*@import url('https://fonts.cdnfonts.com/css/satoshi-variable');*/
:root {
    --gradient-dark: linear-gradient(90deg, #0c0a10 0%, #0c0a10 101.09%);

    --color-accent-primary: #6F158D;
    --color-accent-secondary: #6B185D;
    --color-accent-third: #C31A98;
    --color-dark-primary: #151924;
    --color-white-primary: #ffffff;
    --color-white-secondary: #FDFDFD;
    --color-gray: #B8B8B8;

    --font-primary: 'Satoshi Variable', sans-serif;
    --font-secondary: 'Satoshi Variable', sans-serif;
}

/* base */
body {
    font-family: var(--font-primary);
    font-weight: 300;
    color: var(--color-white-primary);
    word-break: break-word;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-secondary);
}

/* utils */

.overflow-x-clip {
    overflow-x: clip;
}

.filter--grayscale {
    filter: grayscale(1);
}

/* colors */

.bg-gradient--dark {
    background-image: var(--gradient-dark)!important;
}

.color-accent--primary {
    color: var(--color-accent-primary);
}

.color-accent--secondary {
    color: var(--color-accent-secondary);
}

.color-accent--third {
    color: var(--color-accent-third);
}

.color-dark--primary {
    color: var(--color-dark-primary);
}

.color-white--primary {
    color: var(--color-white-primary);
}

.color-white--secondary {
    color: var(--color-white-secondary);
}

.color-gray {
    color: var(--color-gray);
}

/* spacing */
.pt-30 {
    padding-top: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-60 {
    margin-top: 60px;
}
.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}
.mt-160 {
    margin-top: 160px;
}
.mt-180 {
    margin-top: 180px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mt-45 {
    margin-top: 45px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mt-36 {
    margin-top: 36px;
}

/* typo */
h1.section__title {
    font-size: 2.875rem;
}

h1.section__title:before {

    color: var(--color-accent-third);
}

h2.section__title {
    font-size: 2rem;
    color: #e3e3e3;
}

h2.section__title:before {
    color: var(--color-accent-third);
}

h3.section__title {
    font-size: 1.2rem;
}

h3.section__title:before {
    color: var(--color-accent-third);
}

h4.section__title {
    font-size: 0.9rem;
}

h4.section__title:before {
    color: var(--color-accent-third);
}

.section__text {
    font-size: 1rem;
    line-height: 1.625rem;
}

@media (max-width: 480px) {
    h1.section__title {
        font-size: 2rem;
    }

    h2.section__title {
        font-size: 1.6rem;
    }

    .section__text {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

.render-mask {
    position: relative;
    display: inline-block;
  }

  .render {
    width: 100%;
    height: auto;
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
  }
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-grid img {
    width: calc(50% - 5px); /* 2 images per row */
    height: auto;
    object-fit: contain;
  }


.vertical-line {
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  }


@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-150px * 10)); } /* Adjust based on number of logos */
}

.logo-slider {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 100%;
    padding: 20px 0;
    background: transparent;
}

.logo-track {
    display: flex;
    width: calc(150px * 10); /* Adjust based on the number of logos */
    animation: scroll 20s linear infinite;
    position: relative;
}

/* Logo container with added spacing */
.logo-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    margin-right: 30px; /* Increased spacing between logos */
    opacity: 0; /* Start with logos invisible */
    transition: opacity 0.3s ease-in-out;
}

/* ✅ Fade-out and fade-in at the edges */
.logo-slider {
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 15%,
        rgba(0,0,0,1) 85%,
        rgba(0,0,0,0) 100%
    );
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 15%,
        rgba(0,0,0,1) 85%,
        rgba(0,0,0,0) 100%
    );
}

.logo-slide img {
    max-width: 100%;
    height: auto;
    filter: grayscale(100%) brightness(95%) contrast(100%); /* Light gray color */
    transition: filter 0.3s ease-in-out;
}

.logo-slide img:hover {
    filter: grayscale(100%) brightness(95%) contrast(100%);
}

/* Fade in when logos come into view */
.logo-track {
    animation: fadeInScroll 20s linear infinite;
}

@keyframes fadeInScroll {
    0% {
        transform: translateX(0);
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: translateX(calc(-150px * 10)); /* Scroll for all logos */
        opacity: 0;
    }
}

.logo-track .logo-slide {
    opacity: 1;
}


/* buttons */

.btn-primary {
    cursor: pointer;
    display: inline-block;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    padding: 11px 34px;
    border-radius: 18px;
    color: var(--color-white-primary);
    background-color: var(--color-accent-secondary);
    text-decoration: none;
    transition: .3s ease-out all;
}

.btn-primary:hover {
    background-color: var(--color-accent-primary);
    color: var(--color-white-secondary);
    transition: .3s ease-in all;
}

.btn-primary--small {
    font-size: 10px;
    padding: 9px 21px;
}

/* MENU */
.hamburger {
    display: block;
    width: 26px;
    height: 20px;
    position: relative;
}

.hamburger > div {
    position: absolute;
    background-color: var(--color-white-primary);
    height: 2px;
    width: 100%;
    left: 0%;
    transition: 0.5s all;
}

.hamburger > div:nth-child(1) {
    top: 0;
}

.hamburger > div:nth-child(2) {
    top: 50%;
}

.hamburger > div:nth-child(3) {
    top: 100%;
}

.navbar-toggler,
.navbar-toggler:focus {
    z-index: 1000;
    border: 0;
    outline: 0;
    box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] > .hamburger > div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] > .hamburger > div:nth-child(2) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] > .hamburger > div:nth-child(3) {
    left: -100%;
    opacity: 0;
}

@media (max-width: 991px) {
    .navbar__menu {
        position: absolute;
        width: 100%;
        top: 90px;
        padding-bottom: 20px;
        left: 0px;
        background: var(--gradient-dark);
        z-index: 999;
    }
}

.nav-link {
    position: relative;
    font-family: var(--font-secondary);
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.nav-link:after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 0%;
    height: 1px;
    background-color: var(--color-accent-secondary);
}

.nav-link:hover:after {
    width: 100%;
    transition: .5s all;
}

@media (min-width: 992px) {
    .nav-item:not(:last-child) {
        margin-right: 35px;
    }
}

@media (max-width: 991px) {
    .nav-item {
        text-align: center;
    }
}

/* HERO */
.hero {
    overflow-x: clip;
}
.mb-30 { /* Adjusted bottom margin for the header */
    margin-bottom: 15px; /* Adjusted bottom margin */
}


.hero__title {
    font-size: 5.7375rem;
    line-height: 5.625rem;
    word-break: keep-all;
}

.hero__subtitle {
    position: relative;
    width: 100%;
    height: auto;
    color: #ffffff;
    font-size: 64px;
    font-family: "Satoshi Variable", Bold; /* Ensures Satoshi Variable is used */
    font-weight: 900; /* Maximum weight for extra bold */
    text-align: center;
    vertical-align: top;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2); /* Slight outline for thickness */
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3); /* Enhances the bold effect */
    letter-spacing: -0.5px; /* Makes text appear denser */
}



.hero__container {
    position: relative;
    width: 700px;
    height: 154px;
    min-width: 400px;
    max-width: 700px;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    display: flex;
    flex-direction: column;
}


.hero__text {
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 2rem; /* Adjusted bottom margin */
}

.hero__img {
    position: relative;
}

.hero__img svg {
    position: absolute;

}

/* Ensure text appears above the image */
.hero__content {
    position: relative;
    z-index: 1; /* Higher z-index than the image */
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Move content down by 20px */
    transition: opacity 1s ease-in, transform 1s ease-in; /* Transition opacity and transform over 1 second with ease-in timing function */
  }

  .fade-in {
    opacity: 1; /* Set opacity to 1 to reveal the content */
    transform: translateY(0); /* Move content back to its original position */
  }

@media (min-width: 992px) {
    .hero .container .row .hero__height {
        min-height: 605px;
    }
}

@media (max-width: 991px) {
    .hero__img svg {

        opacity: .5;
        top: unset;
        margin-top: 60%;
        z-index: -1;
        right: 0;
    }
}

@media (max-width: 768px) {
    .hero__img svg {
        transform: translateY(-100%);
    }
}

@media (max-width: 640px) {
    .hero__title {
        font-size: 5rem;
    }
    .hero__subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 1300;
    }
}

@media (max-width: 480px) {
    .hero__title {
        font-size: 3rem;
        line-height: 4.25rem;
    }
    .hero__subtitle {
        font-size: 1.75rem;
        line-height: 2rem;
        font-weight: 1300;
    }
}

/* white-blink */

.white-blink path {
    fill: var(--color-dark-primary);
}

.white-blink path.white-blink--active {
   animation-name: white-blink;
   animation-timing-function: ease;
   animation-duration: .5s;
   animation-fill-mode:forwards;
}

@keyframes white-blink {
    0% {
        filter: brightness(3);
        transform: translate(2px, -2px);
    }
    50% {
        transform: translate(-1px, 1px);
    }
    100% {
        transform: translate(0px, 0px);
        fill: var(--color-accent-third);
    }
}

/* CARD */

.card {
    min-width: 287px;
    min-height: 220px;
    background-color: var(--color-dark-primary);
    border-radius: 30px;
    position: relative;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    text-align: right;
}

.card__icon {
    position: absolute;
    top: 10px;
    left: 10px;
}

.card__top-text {
    position: relative;
    color: var(--color-accent-secondary);
    font-weight: 700;
    font-size: 5rem;
    line-height: 5.375rem;
    font-family: var(--font-secondary);
}

.card__top-text span {
    font-size: 2.25rem;
    line-height: 1.5;
}


.card__bottom-text {
    font-size: 3.375rem;
    line-height: 4.125rem;
    font-weight: 500;
}

@media (max-width: 1399px) and (min-width: 992px) {
    .card {
        min-width: 260px;
    }
}

@media (max-width: 767px) {
    .card {
        min-width: 260px;
        min-height: 220px;
    }
    .card__top-text {
        font-size: 4rem;
        line-height: 4.375rem;
    }
    .card__top-text span {
        font-size: 1.75rem;
    }
    .card__bottom-text {
        font-size: 3.575rem;
        line-height: 3.425rem;
    }
}

.card--small {
    min-width: 206px;
    max-width: 210px;
    min-height: 193px;
    padding-right: 24px;
    padding-top: 20px;
}

.card--small .card__top-text {
    font-size: 3.875rem;
}

.card--small .card__bottom-text {
    font-size: 2.5rem;
}

@media (max-width: 767px) {
    .card--small {
        min-height: 177px;
    }
}
/* INFO */

.info {
    text-align: center;
    font-family: var(--font-secondary);
}

.info__top {
    display: block;
    font-size: 1.75rem;
    font-weight: 600;
}

.info__bottom {
    display: block;
    color: var(--color-accent-secondary);
    font-size: 2.875rem;
    line-height: 4rem;
    font-weight: 700;
}

.info__bottom span {
    font-size: 1.75rem;
    font-weight: 500;
    color: var(--color-white-primary);
}

/* comet */

.comet-holder {
    position: relative;
}

.comet {
    opacity: .8;
    position: absolute;
    bottom: -40%;
    right: -45%;
    z-index: -1;
}

@media (max-width: 1023px) {
    .comet {
        display: none;
    }
}

/*pp country-slider */
.country-slider div {
    user-select: none;
}

.tns-horizontal.tns-subpixel>.tns-item {
    display: inline-flex;
    align-items: center;
}

/* links */

.links__item {
    position: relative;
    display: inline-block;
    padding-right: 45px;
}

.links__item a {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--color-white-primary);
    text-decoration: none;
}

.links__item a span {
    display: inline-block;
    margin-right: 10px;
}

.links__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.3;
}

.links__arrow path {
    transition: .3s all;
}

.links__item a:hover {
    text-decoration: none;
    color: var(--color-gray);
    transition: .5s all;
}

.links__item a:hover .links__arrow {
    opacity: 1;
    transition: .3s all;
}

.links__item a:hover .links__arrow path {
    d:path('M32.9984 6L22.9984 0.226497V11.7735L32.9984 6ZM0.998444 7H23.9984V5H0.998444V7Z');
    transition: .3s all;
}


.links__item img {
    max-width: 60px;
    margin-right: 10px;
}

@media (max-width: 420px) {
    .links__item img {
        margin-bottom: 15px;
    }
}
/* LOGOS */

.logos-group img {
    max-width: 210px;
    max-height: 50px;
    filter: grayscale(1);
}

@media (max-width: 991px) {
    .logos-group a:not(:last-child) {
        margin-bottom: 15px;
    }
}

.logos-group--xl a:not(:last-child) {
    margin-bottom: 15px;
}

.logos-group2 img {
    max-width: 150px;
    max-height: 40px;
    filter: grayscale(1);
}

@media (max-width: 991px) {
    .logos-group2 a:not(:last-child) {
        margin-bottom: 15px;
    }
}

.logos-group2--xl a:not(:last-child) {
    margin-bottom: 15px;
}

.logos-group3 img {
    width: 100px;
    height: auto;
    filter: grayscale(100%);
    margin-right: 40px; /* Adjust the margin as needed */
  }

@media (max-width: 991px) {
    .logos-group a:not(:last-child) {
        margin-bottom: 20px;
    }
}

.logo-container {
    display: flex;
    justify-content: center;  /* Center the logos horizontally */
    align-items: center;  /* Align them vertically */
    gap: 50px;  /* Space between logos */
    margin-top: 30px;  /* Space above the logos */
    flex-wrap: wrap; /* Ensures responsiveness */
}

.logo {
    max-width: 80px; /* Adjust size as needed */
    height: auto;
}
@media (max-width: 768px) {
    .logo-container {
        flex-direction: column; /* Stack logos vertically on smaller screens */
        gap: 20px;
    }
}

/* footer */

footer {
    position: relative;
}

footer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--color-accent-third);
    opacity: .12;
}
:root {
  --slides: 9; /* Update this value based on the number of slides */
  --slide-duration: 3000ms;
}
  /* Slideshow Images START */
    .phone-slideshow-list li:nth-child(1) {
      background-image: url('assets/img/screen 1.jpg'); /* JPG */
      background-color: pink;
    }
    .phone-slideshow-list li:nth-child(2) {
      background-image: url('assets/img/screen-2.png'); /* JPG */
    }
    .phone-slideshow-list li:nth-child(3) {
      background-image: url('assets/img/screen 3.jpg'); /* JPG */
    }
    .phone-slideshow-list li:nth-child(4) {
      background-image: url('assets/img/screen 4.jpg'); /* JPG */
    }
    .phone-slideshow-list li:nth-child(5) {
      background-image: url('assets/img/screen 5.jpg'); /* JPG */
    }
    .phone-slideshow-list li:nth-child(6) {
      background-image: url('assets/img/screen 6.png'); /* JPG */
    }
    .phone-slideshow-list li:nth-child(7) {
        background-image: url('assets/img/screen 1.jpg'); /* JPG */
        background-color: pink;
      }
      .phone-slideshow-list li:nth-child(8) {
        background-image: url('assets/img/screen-2.png'); /* JPG */
      }
      .phone-slideshow-list li:nth-child(9) {
        background-image: url('assets/img/screen 3.jpg'); /* JPG */
      }

  /* Slideshow Images END */

  .phone-slideshow {
    width: 100%;
    height: auto;
    max-width: 264px;
    margin: auto;
    position: relative;
    display: table;
  }
      .phone-slideshow:before { /* Phone Template */
        content: "";
        display: block;
        width: 100%;
        height:0;
        padding-bottom: 206.13%;
        background: #0002;
        background: transparent url('https://www.goodwall.io/sandbox/wp-content/uploads/sites/5/2021/05/iphonex-black.png') no-repeat 50% 50%;
        background-size: contain;
        position:absolute;
        top:0;
        left:0;
        z-index: 2;
      }

  .phone-slideshow .screen-mask {
      display: block;
      border: 1px solid purple;
      width: auto;
      height: 100%;
      margin: 3%;
      box-sizing: border-box;
      position: relative;
      overflow: hidden;
      padding-bottom: 199%;
      border-radius: 7%;
  }

  .phone-slideshow-list {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: calc(100% * var(--slides));
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    animation-name: phone-slideshow;
    animation-duration: calc(var(--slide-duration) * var(--slides));
    animation-iteration-count: infinite;
    animation-delay: 1s;
  }

  .phone-slideshow-list li {
    width: calc(100% / var(--slides)); /* Adjust width based on number of slides */
    height: 100%;
    font-size: 5em;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }

      .phone-slideshow-list li:first-child {
        z-index:-1;
        animation-name: first-loop;
        animation-duration: calc(var(--slide-duration) * var(--slides));
        animation-iteration-count: infinite;
        animation-delay: 1s;
      }


  @keyframes phone-slideshow {
    0%   {left: 0;}
    5.5%  {left: calc( -100% ); }
    11%  {left: calc( -100% ); }
    16.5%  {left: calc( -100%*2 ); }
    22%  {left: calc( -100%*2 ); }
    27.5%  {left: calc( -100%*3 ); }
    33%  {left: calc( -100%*3 ); }
    38.5%  {left: calc( -100%*4 ); }
    44%  {left: calc( -100%*4 ); }
    49.5%  {left: calc( -100%*5 ); }
    55%  {left: calc( -100%*5 ); }
    60.5%  {left: calc( -100%*6 ); }
    66%  {left: calc( -100%*6 ); }
    71.5%  {left: calc( -100%*7 ); }
    77%  {left: calc( -100%*7 ); }
    82.5%  {left: calc( -100%*8 ); }
    88%  {left: calc( -100%*8 ); }
    93.5%  {left: calc( -100%*9 ); }
    99.99%  {left: calc( -100%*9 ); }
    100% {left: 0;}
  }

  @keyframes first-loop {
    0%   {left: 0;}
    47.99%  {left: 0; }
    48%  {left: calc( 100% ); }
    99.99%  {left: calc( 100% ); }
    100% {left: 0;}
  }

  .services-section {
  padding: 60px 0;
  background-color: #f8f9fa; /* Set your desired background color */
}

.section-content {
  background-color: #ffffff; /* Set section background color */
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for each section */
}

.section-content h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333; /* Set heading color */
}

.section-content p {
  font-size: 16px;
  color: #666666; /* Set paragraph color */
}

.main-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 8px 32px 0 rgba(135, 31, 126, 0.37);
    box-shadow: 0 8px 32px 0 rgba(211, 5, 201, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 0; /* Remove internal padding */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Move content down by 20px */
    transition: opacity 1s ease-in, transform 1s ease-in; /* Transition opacity and transform over 1 second with ease-in timing function */
  }

  .fade-in {
    opacity: 1; /* Set opacity to 1 to reveal the content */
    transform: translateY(0); /* Move content back to its original position */
  }



.glass p {
    margin-top: 4px;
}

.glass-centered {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 20px; /* Add padding */
    text-align: center; /* Center-align text */
    opacity: 0; /* Initially set opacity to 0 */
    transform: translateY(20px); /* Move content down by 20px */
    transition: opacity 1s ease-in, transform 1s ease-in; /* Transition opacity and transform over 1 second with ease-in timing function */
  }

  .glass-centered p {
    margin-top: 10px; /* Add some margin between paragraphs */
  }

.render {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.render.mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.glass-transparent {

    border-radius: 2px;

    padding: 0; /* Remove internal padding */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0; /* Initially set opacity to 0 */
    transition: opacity 1s ease-in; /* Transition opacity over 1 second with ease-in timing function */
}

.glass-transparent p {
    margin-top: 4px;
}

.fade-in-glass-transparent {
    opacity: 1; /* Set opacity to 1 to reveal the content */
  }

.glass-transparent::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Adjust as needed */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.image-transparent {
    width: 100%;
    height: auto;
    border-radius: 8px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}



.bottom-right-panel {
    position: absolute;
    bottom: -30px; /* Adjust to control vertical positioning */
    right: -10px; /* Adjust to control horizontal positioning */
    width: 33%; /* Width of the bottom right panel */
    max-width: 200px; /* Maximum width of the panel */
    padding: 0; /* Remove internal padding */
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    z-index: 2; /* Ensure it appears above the glass panel */
}

.canvas {
    display: block;
    width: 100%; /* Adjust canvas width as needed */
    height: 100vh; /* Adjust canvas height as needed */
    background-color: black; /* Background color of the canvas */
  }

  /* CSS Particle Animation */
/* Particle Container */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Ensure it's behind your content */
  }

@keyframes animateParticles {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.world {
    text-align: center;
    width: 770px;
    height: 373px;
  }

  #world_map {
    width: 100%;
    height: 100%;
    filter: invert(16%) sepia(63%) saturate(2189%) brightness(50%) contrast(98%) hue-rotate(298deg);
    animation-name: color;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes colors {
    100% {
      filter: invert(41%) sepia(43%) saturate(690%) hue-rotate(159deg) brightness(99%) contrast(87%);
    }
  }

  .point {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.3;
    border: 2px solid #F2B90C;
    animation-name: boing;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
  }

  #point_1 {
    top: -270px;
    left: 160px;
    animation-duration: 0.9s;
  }

  #point_2 {
    top: -200px;
    left: 535px;
    animation-delay: 0.15s;
    animation-duration: 0.7s;
  }

  #point_3 {
    top: -330px;
    left: 360px;
    animation-delay: 0.30s;
  }

  #point_4 {
    top:-185px;
    left: 245px;
    animation-delay: 0.45s;
    animation-duration: 0.7s;
  }

  @keyframes boing {
    0% {
      transform: scale(0.5);
    }
    100% {
     transform: scale(2);
    }
  }

  @-webkit-keyframes polygon {
    0% {
      stroke-dasharray:0 300;
    }
    100% {
      stroke-dasharray:300 0;
    }
  }
  @keyframes polygon {
    0% {
      stroke-dasharray:0 300;
    }
    100% {
      stroke-dasharray:300 0;
    }
  }
  polygon {
    stroke-width: 1;
    fill: transparent;
    stroke: #fff;
    stroke-miterlimit: 10;
  }
  .hex1 {
    animation: 4s polygon forwards;
    -webkit-animation: 4s polygon forwards;
  }
  .hex2 {
    animation: 8s polygon forwards;
    -webkit-animation: 8s polygon forwards;
  }
  .hex3 {
    animation: 12s polygon alternate backwards;
    -webkit-animation: 12s polygon alternate backwards;
  }
  .hex4 {
    animation: 10s polygon alternate backwards;
    -webkit-animation: 10s polygon alternate backwards;
  }
  circle {
    fill: #fff;
    -webkit-animation-name: circle-glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;

    animation-name: circle-glow;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

  }

  @-webkit-keyframes circle-glow {
    0% { fill: hsla(209, 20%, 32%, 1); }
    50% { fill: hsla(209, 20%, 49%, 1); }
    100% { fill: hsla(360, 100%, 100%, 1); }
  }

  @keyframes circle-glow {
    0% { fill: hsla(209, 20%, 32%, 1); }
    50% { fill: hsla(209, 20%, 49%, 1); }
    100% { fill: hsla(360, 100%, 100%, 1); }
  }

  .download {
    width: 200px;
    height: 50px;
    background: #151924;
    float: left;
    border-radius: 5px;
    position: relative;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px; /* Add margin between buttons */
    margin-right: 20px; /* Add horizontal margin between buttons */
    text-decoration: none; /* Remove underline from anchor */
  }

  .download > .fa {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  .df,
  .dfn {
    position: absolute;
    left: 70px;
  }

  .df {
    top: 5px;
    font-size: 0.68em;
  }

  .dfn {
    top: 20px;
    font-size: 1.08em;
  }

  /* Prevent hover effects on text and icons */
  .download:hover {
    color: #fff; /* Maintain text color */
    background: #151924; /* Maintain background color */
    text-decoration: none; /* Remove underline on hover */
  }

  /* Override default link styles for anchor within .download */
  .download a {
    color: inherit; /* Inherit color from parent */
    text-decoration: none; /* Remove underline */
  }

  /* Override hover styles for anchor within .download */
  .download a:hover {
    color: inherit; /* Maintain text color on hover */
    text-decoration: none; /* Remove underline on hover */
  }

  .clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0;
    max-width: 1024px;
    margin: 0 auto 4.8rem;
  }

  .logo-container {
    flex: 1 0 200px; /* Allow logo containers to grow and shrink with a max-width */
    text-align: center; /* Center-align the logo within the container */
    margin: 10px; /* Adjust margin around each logo container */
  }

  .clients .logo-link {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .clients img {
    height: 3.2rem;
    max-height: 30px;
    -webkit-filter: grayscale(100%) brightness(10%) contrast(10%);
    filter: grayscale(100%) brightness(10%) contrast(10%);
    transition: all 0.3s ease-in-out;
  }

  .clients img:hover {
    -webkit-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem);
    filter: grayscale(0%);
  }

  @media (min-width: 768px) {
    .clients {
      justify-content: flex-start; /* Align logos to the start of the row */
    }

    .logo-container {
      flex-basis: 25%; /* Set the width of each logo container to 25% */
      max-width: none; /* Remove max-width for larger screens */
      margin: 20px 0; /* Adjust vertical margin between logo rows */
    }
  }

  .background-with-svg {
    /* Position the element relative to its parent */
    position: relative;
  }

  .background-with-svg::before {
    /* Content for the pseudo-element */
    content: '';
    /* Position the pseudo-element behind other content */
    z-index: -1;
    /* Position the pseudo-element to cover the entire container */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Apply the background image */
    background-image: url('assets/img/binary.png');
    /* Set background size to cover the entire container */
    background-size: cover;
    /* Position the background at the center */
    background-position: center;
    /* Adjust the opacity of the background image */
    opacity: 0.2; /* Adjust the opacity value (0.5 for 50% opacity) */
  }

  /* Optional: Center content vertically and horizontally */
  .background-with-svg .col-lg-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fbands {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; /* Adjust padding as needed */
  }

  .customer-logos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); /* Adjust minmax values as needed */
    grid-gap: 20px;
    justify-items: center; /* Center items horizontally within each grid cell */
    align-items: center; /* Center items vertically within the grid container */
  }

  .customer-logos .slide {
    text-align: center;
  }

  .customer-logos .slide img {
    max-width: 100%;
    height: auto;
  }

  @media only screen and (max-width: 800px) {
    .customer-logos {
      grid-template-columns: repeat(3, minmax(120px, 1fr)); /* Adjust the number of columns for smaller screens */
    }
  }

  @media only screen and (min-width: 801px) {
    .customer-logos {
      grid-template-columns: repeat(7, minmax(120px, 1fr)); /* Adjust the number of columns for larger screens */
    }
  }

  .glass-card {
    height: auto; /* Adjust height automatically based on content */
    padding: 20px; /* Adjust padding as needed */

    border: 1px solid rgba(255, 255, 255, 0.055); /* Adjusted border transparency */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0); /* Adjusted background transparency */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);
  }

  .card-footer {
    font-size: 0.65em;
    color: #446;
  }

