<div class="container mt-5">
  <h3 class="mb-4">Application Catalogue</h3>
  <p>Benefit from a range of applications ready to be launched with a click of a button.</p>

  <!-- Icons Grid -->
  <div id="iconGrid" class="row g-3">
    <div *ngFor="let icon of icons; let i = index" class="col-6 col-md-4 col-lg-3">
      <div class="icon-box text-center p-3" [ngStyle]="{ opacity: getIconOpacity(i) }">
        <img [src]="icon.image" alt="{{ icon.name }}" class="icon-image mb-2" />
        <span class="icon-label">{{ icon.name }}</span>
      </div>
    </div>
  </div>

  <!-- "And many more" text -->
  <p class="many-more-text">...and many more</p>

  <!-- Learn More Button -->
  <div class="button-wrapper">
    <a href="https://marketplace.octa.space/" class="btn">
      <div class="btn-icons">
        <i id="angle" class="fas fa-angle-right"></i>
        <i id="arrow" class="fas fa-arrow-right"></i>
      </div>
      <div class="btn-txt">DEPLOY</div>
    </a>
  </div>
</div>
